{% set categories = api.get('/category/tree') %}
{#
<pre>
{{ dump(categories) }}
</pre>
#}
<!-- Fixed navbar start -->
<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
    <div class="navbar-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                    <div class="pull-left ">
                        <ul class="userMenu ">
                            <li> <a href="{{app.url}}/contact"><span class="hidden-xs">Contact</span><i
                                    class="glyphicon glyphicon-map-marker hide visible-xs "></i> </a></li>
                            <li class="phone-number"><a href="callto:{{ app.params.information['phone_number'] }}"> <span> <i
                                    class="glyphicon glyphicon-phone-alt "></i></span> <span class="hidden-xs"
                                    style="margin-left:5px">{{ app.params.information['phone_number'] }}</span>
                            </a></li>
                            <li>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                    <div class="pull-right">
                        <ul class="userMenu">
                            {% if app.user.id != '' %}
                            <li><a href="{{app.url}}/account/orders"><span class="hidden-xs hidden-sm">Order Status</span> 
                            <i class="glyphicon glyphicon-user hide hidden-xs "></i></a></li>
                            {% else %}
                            <li><a href="{{app.url}}/order"><span class="hidden-xs hidden-sm">Order Status</span> 
                            <i class="glyphicon glyphicon-user hide hidden-xs "></i></a></li>
                            {% endif %}
                            {% if app.user.id != '' %}
                            <li><a href="{{app.url}}/account/orders"><span class="hidden-xs hidden-sm">Easy Returns</span> 
                            <i class="glyphicon glyphicon-user hide hidden-xs "></i></a></li>
                            {% else %}
                            <li><a href="{{app.url}}/return"><span class="hidden-xs hidden-sm">Easy Returns</span> 
                            <i class="glyphicon glyphicon-user hide hidden-xs "></i></a></li>
                            {% endif %}     
                            <li><a href="{{ app.url }}/account/registries"><span class="hidden-xs hidden-sm">Gift Registry</span> 
                            <i class="glyphicon glyphicon-user hide hidden-xs "></i></a></li>
                            {% if app.user.id is null %}
                            {#Begin login button#}
                                <li>
                                    <a href="{{app.url}}/account/login"><span class="hidden-xs">Log in</span> <i
                                        class="glyphicon glyphicon-log-in hide visible-xs "></i>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{app.url}}/account/login"><span class="hidden-xs">Your account</span> <i
                                        class="glyphicon glyphicon-user hide visible-xs "></i>
                                    </a>
                                </li>
                            {% endif %}
                            {% if app.user.id is null %}
                            {#Begin create account button#}
                                <li>
                                    <a href="{{app.url}}/account/create"><span class="hidden-xs">Create Account</span><i
                                        class="glyphicon glyphicon-user hide visible-xs "></i>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{app.url}}/account/logout"><span class="hidden-xs">Logout</span>
                                    <i class="fa fa-sign-out hide visible-xs "></i>
                                    </a>
                                </li>
                            {% endif %}
                            
                            
                            {# End login button#} 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.navbar-top-->

    <div class="container">
        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                        class="icon-bar"> </span> <span class="icon-bar"> </span></button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"><i
                        class="fa fa-shopping-cart colorWhite"> </i> <span
                        class="cartRespons colorWhite"> Cart {{ api.get('/sessioncart').item_count }}</span></button>
                

                <div class="navbar-brand">
                    {% if app.params.logoimages is not empty %}
                        {% set logo_info = app.params.logoimages | first %}
                        {% set logo = app.image.getImageUrl('logo','thumbnail',logo_info.id) %}
                    {% endif %}
                    {% if logo is not empty %}
                        <a href="{{app.url}}/" style="background-image: url({{ logo }});background-position: 0 0; background-repeat: no-repeat; display: block; height:27px; width:125px; background-size: contain;"></a>
                    {% else %}
                        <div id="logo-txt"><a href="{{app.url}}/">{{ app.params.site.title }}</a></div>
                    {% endif %}

                 </div>
            <!-- this part for mobile -->
            <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                <div class="input-group">
                    <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
                </div>
                <!-- /input-group -->

            </div>
        </div>

        <!-- this part is duplicate from cartMenu  keep it for mobile -->
        <div class="navbar-cart  collapse">
            <div class="cartMenu  col-lg-4 col-xs-12 col-md-4 ">
                <div class="w100 miniCartTable scroll-pane">
                    <section class="ajaxcart-products">
                            {# Begin product #}
                            <div class="ajaxcart-product product">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="thumbnail">
                                            <img onerror="this.src='{{ app.url_asset }}/images/product/image-250x250.jpg'" class="product-image" src="">
                                        </div>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="name">
                                            <span class="product-name"></span>
                                        </div>
                                        <div class="price"><strong>Price:</strong> $<span class="product-price"></span></div>
                                        <div class="quantity"><strong>Qty:</strong> <span class="product-quantity"></span></div>
                                    </div>
                                </div>
                            </div>
                            {# Begin product #}
                        </section>
                        {# End Popover products #}
                </div>
                <!--/.miniCartTable-->

                <div class="miniCartFooter  miniCartFooterInMobile text-right">
                    <div class="cart-totals">
                        <div class="items">Item count: <span class="item-count"></span></div>
                        <div class="total">Subtotal: $<span class="subtotal">0.00</span></div>

                        <a href="{{ app.url }}/cart" class="btn btn-xs btn-danger"><i class="fa fa-shopping-cart"> </i>VIEW CART</a>
                        <a href="{{ app.url }}/cart" class="btn btn-xs b/tn-primary"><i class="fa fa-shopping-cart"> </i> CHECKOUT </a>
                    </div>
                </div>
                <!--/.miniCartFooter-->
            </div>
            <!--/.cartMenu-->
        </div>
        <!--/.navbar-cart-->

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="{{ app.url }}/"> Home </a></li> -->
                {% for main_category,items in categories if main_category != "clearance" %}
                    {% if items|length %}
                    {# Begin dropdown #}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown " href="{{app.url}}/category/{{main_category}}">{{main_category|replace('-',' ')|title}}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul id="category_item" class="dropdown-menu">
                            {% for category,subitems in items %}
                            {% set i = i + 1 %}
                            <li>
                                <a tabindex="-1" href="{{app.url}}/category/{{category}}">{{category|replace('-',' ')|title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {# End dropdown #}
                    {% else %}
                    <li>
                        <a href="{{app.url}}/category/{{main_category}}">{{main_category|replace('-',' ')|title}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
                {#
                {% for main_category,items in categories %}
                    <li class=""><a href="#">{{main_category|replace('-',' ')|title}}</a></li>
                {% endfor %}
                #}
            

 <!--- this part will be hidden for mobile version -->
            <div class="nav navbar-nav navbar-right hidden-xs">
                <div class="dropdown  cartMenu ">
                    <a href="{{app.url}}/cart" class="dropdown-toggle" data-toggle="dropdown"> 
                        <i class="fa fa-shopping-cart"> </i> 
                            <span class="cartRespons"> Cart ({{ api.get('/sessioncart').item_count }}) </span> 
                            <b class="caret"> </b> </a>

                    <ul class="">
                        <li class="cart" data-content="" data-html="true" data-placement='bottom' rel='popover'>
                    {# Begin ajax cart popover #}
                            {# Begin product #}
                            <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
                                <div class="w100 miniCartTable scroll-pane">
                                    <section class="ajaxcart-products">
                                        {# Begin product #}
                                        <div class="ajaxcart-product product">
                                            <table>
                                                <tbody>
                                                    <tr class="miniCartProduct">
                                                        <td style="width:20%" class="miniCartProductThumb">
                                                            <div><img onerror="this.src='{{ app.url_asset }}/images/product/image-250x250.jpg'" class="product-image" src="" alt="img"></a>
                                                            </div>
                                                        </td>
                                                        <td style="width:40%">
                                                            <div class="miniCartDescription">
                                                            <span class="product-name"><h4></h4></span>
                                                        </td>
                                                        <td style="width:10%" class="miniCartQuantity quantity">Qty: <span class="product-quantity"></span>
                                                        </td>
                                                        <td style="width:15%" class="miniCartSubtotal price">$<span class="product-price"></span>
                                                        </td>
                                                        <td style="width:5%" class="delete"><a> x </a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                    <div class="miniCartFooter text-right">
                                        <div class="row">
                                            <div class="cart-totals">
                                                <div class="items">Item count: <span class="item-count"></span></div>
                                                <div class="total">Subtotal: $<span class="subtotal">0.00</span></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <a href="{{ app.url }}/cart" class=""><i class="fa fa-shopping-cart"> </i>VIEW CART</a>
                                                <a href="{{ app.url }}/checkout" class="btn btn-sm btn-primary"><i class="fa fa-shopping-cart"> </i> CHECKOUT </a>
                                        </div>
                                        <!--/.miniCartFooter-->
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                
                <!--/.dropdown-menu-->
                </div>
                <!--/.cartMenu-->

                <div class="search-box">
                    {# Begin search bar#}
                        <div class="input-group">
                            <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
                        </div>
                    <!-- /input-group -->
                </div>
                <!--/.search-box -->
            </div>
            <!--/.navbar-nav hidden-xs-->
        </div>
        <!--/.nav-collapse -->

    </div>
    <!--/.container -->

    <div class="search-full text-right"><a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>
        <div class="searchInputBox pull-right">
            <form action="/search" type="GET" >
            <input type="search" data-searchurl="search?=" name="s" placeholder="start typing and hit enter to search"
                   class="search-input">

            <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
            </form>
        </div>
    </div>
    <!--/.search-full-->

</div>
<!-- /.Fixed navbar  -->